<!-- https://www.youtube.com/watch?v=dr8Emho-kYo-->

<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <link rel="stylesheet" type="text/css" href="/buyRentArticle.css" />
    <title>buy/rent article page</title>
    <!--Handlebars-->
    <script src="https://cdnjs.cloudflare.com/ajax/libs/handlebars.js/4.7.8/handlebars.min.js" 
    integrity="sha512-E1dSFxg+wsfJ4HKjutk/WaCzK7S2wv1POn1RRPGh8ZK+ag9l244Vqxji3r6wgz9YBf6+vhQEYJZpSjqWFPg9gg==" 
    crossorigin="anonymous" referrerpolicy="no-referrer"></script>
  </head>
  <body>
    <div>
      <div>
        <img
          src="<%= article.image_path %>"
          alt="Property Image"
          style="max-width: 200px"
        />
      </div>

      <div>
        <h1><%= article.title %></h1>
        <h3>Home Description:</h3>
        <p><%= article.description %></p>
        <h3>Home insights:</h3>
        <p><%= article.insight %></p>
      </div>

      <div>
        <form action="/" method="GET">
          <button type="submit">Shortlist</button>
        </form>

        <form action="/" method="GET">
          <button type="submit">Share</button>
        </form>

        <div>
          <p><strong>Seller name:</strong> <%= article.sellerName %></p>
          <p><%= article.sellerDetails %></p>
        </div>

        <form action="/callDisplay/<%= article.id %>" method="GET">
          <button type="submit">Call</button>
        </form>

        <form action="/" method="GET">
          <button type="submit">Whatapp</button>
        </form>
      </div>

      <div>
        <p><strong>House location:</strong> <%= article.location %></p>
        <h3>interactive map</h3>
        <!-- API CALL FOR Google map base on the location insert here -->
      </div>

      <div>
        <h3>Home amenities:</h3>
        <p><%= article.amenities %></p>
        <h3>Home facilities:</h3>
        <p><%= article.facilities %></p>
      </div>
    </div>

    <br>

    <div class="RecommandationsArticleContainer">
      <div class="recheader">
        <h3>Recommandations</h3>
      </div>

      <div class="RecommandContainer" id="recarticle-container">
        <script id="recommandationsTemplate" type="text/x-handlebars-template">
          {{#each RecommandationArticles}}
            <div class="recarticle">
              <div class="imgcontainer">
                <a href="{{link}}"><img src="{{img}}" alt="{{altText}}" /></a>
              </div>
              <a href="{{link}}"><h3>{{title}}</h3></a>
              <a href="{{link}}"><p>{{context}}</p></a>
              <a href="{{link}}"><p>{{title}}</p></a>
            </div>
          {{/each}}
        </script>
      </div>
    </div>
    
    <br>

    <!-- Q&A section -->
    <div class="QAsectioncontainer">
      <div class="QAheader">
        <h3>FAQ</h3>
      </div>

      <div class="QA">
        <div class="QA-item">
          <div class="QA-item-header">qns 1 put here</div>
          <div class="QA-item-body">
            <div class="QA-item-body-content">ans 1 put here</div>
          </div>
        </div>

        <div class="QA-item">
          <div class="QA-item-header">qns 2 put here</div>
          <div class="QA-item-body">
            <div class="QA-item-body-content">ans 2 put here</div>
          </div>
        </div>
      </div>
    </div>

    <script>
      // handle bar for Recommandations
      document.addEventListener("DOMContentLoaded", function () {
        var recArr = {
          RecommandationArticles: [
            {
              link: "#",
              altText: "venus-flytrap",
              img: "./image/venus-flytrap.jpg",
              title: "Venus Flytrap: Natures Carnivorous Marvel",
              context:
                "Uncover the secrets of the Venus Flytrap, a botanical predator.",
              name: "Admin",
              date: "14/Sep/2025",
            },
            {
              link: "#",
              altText: "polar bear",
              img: "./image/polar-bear.jpg",
              title: "The Enigmatic World of Polar Bears",
              context:
                "Explore the resilient life of polar bears in the Arctic wilderness.",
              name: "Admin",
              date: "09/Nov/2025",
            },
            {
              link: "#",
              altText: "pelican",
              img: "./image/pelican.jpg",
              title: "Majestic Pelicans: Masters of Aerial Grace",
              context:
                "Explore the elegance and ecological significance of pelicans in their natural habitat.",
              name: "Admin",
              date: "14/Jun/2025",
            }

          ],
        };

        // Get the Handlebars template
        var recommandSource = document.getElementById("recommandationsTemplate").innerHTML;
        var recommandTemplate = Handlebars.compile(recommandSource);

        // Render the template with data
        var recommandArticles = recommandTemplate(recArr);

        // Append the rendered object to container
        document.querySelector("#recarticle-container").innerHTML =
        recommandArticles;
      });

      // Q&A js script //
      const QAItemHeaders = document.querySelectorAll(".QA-item-header");
      QAItemHeaders.forEach((QAItemHeader) => {
        QAItemHeader.addEventListener("click", (event) => {
          const currentActiveQAItemHeader = document.querySelector(
            ".QA-item-header.active"
          );
          if (
            currentActiveQAItemHeader &&
            currentActiveQAItemHeader !== QAItemHeader
          ) {
            currentActiveQAItemHeader.classList.toggle("active");
            currentActiveQAItemHeader.nextElementSibling.style.maxHeight = 0;
          }

          QAItemHeader.classList.toggle("active");
          const QAItemBody = QAItemHeader.nextElementSibling;
          if (QAItemHeader.classList.contains("active")) {
            QAItemBody.style.maxHeight = QAItemBody.scrollHeight + "px";
          } else {
            QAItemBody.style.maxHeight = 0;
          }
        });
      });
    </script>
  </body>
</html>
