<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" type="text/css" href="/buyRentHome.css" />
    <title>Buy/rent page</title>
</head>
<body>

    <header>
        <div class="header-container">
            <div class="finder-logo">
                <a href="/"><img class="logo" src="/logo3.jpg" alt="NextDoorSG logo"></a>
            </div>

            <div class="nav-link-container">
                <div class="nav-links">
                    <a href="/">Home</a>
                    <a href="/buyRentHome">Buy/rent</a>
                    <a href="/sellerHome">Sell</a>
                    <a href="/projectHome">New projects</a>
                    <a href="/tools">Tools</a>
                    <a href="#">Find agent</a>
                </div>
            </div>
                
            <!-- login -->
            <div class="login">
                <a href="/login">Login</a>
            </div>
        </div>
    </header>
    
    <!-- filter put here -->

    <br>

    <div class="article-container">
        <h2>Available houses</h2>
        <% if (articles.length > 0) { %>

            <div class="article-card-wrapper">
                <% articles.forEach(article => { %>
                  <div class="article-content">
                    <div class="article-img">
                      <img src="<%= article.image_path %>" alt="Property Image" >
                    </div>

                    <div class="info-content">
                      <a href="/buyRentArticle/<%= article.id %>"><h3><%= article.title %></h3></a>
                      <p><%= article.description %></p>
                      <p><%= article.published_date %></p>
                    </div>

                  </div>
                <% }); %>

            </div>

        <% } else { %>
          <div class="display-msg">
            <p>No article available at the moment.</p>
          </div>
        <% } %>
    </div>

    <br>

    <!-- Q&A section -->
    <div class="QAsectioncontainer">
        <div class="QAheader">
          <h3>FAQ</h3>
        </div>
  
        <div class="QA">
          <div class="QA-item">
            <div class="QA-item-header">How do I purchase a property as a single person?</div>
            <div class="QA-item-body">
              <div class="QA-item-body-content">As per Singapore government laws, a single Singapore Citizen has the option to apply for a 2-room flexi flat via HDB's BTO scheme, provided that they are 35 years old and above. They may also purchase a resale flat from the open market with similar age restrictions. Purchasing of a private property only requires them to be 21 years old and above.</div>
            </div>
          </div>
  
          <div class="QA-item">
            <div class="QA-item-header">What are the available grants for first-time BTO buyers?</div>
            <div class="QA-item-body">
              <div class="QA-item-body-content">Homeowners purchasing a HDB flat will be provided with housing grants. These range from up to $80,000 in subsidies if it is a BTO flat, or up to $160,000 when purchasing a resale flat.<br><br>When you are submitting your HFE application, you will be informed of what housing grants you will be granted eligibility for. </div>
            </div>
          </div>
        </div>
    </div>

    <br>

    <!-- footer -->
    <footer>
      <div class="footer-container">
        <div class="footer-row">
          <h3>NextDoorSG</h3>
          <p>Follow us here:</p>
          <a href="#"><img src="https://img.icons8.com/ios/50/facebook--v1.png" alt="Facebook logo" ></a>
          <a href="#"><img src="https://img.icons8.com/ios/50/twitterx--v1.png" alt="X logo" ></i></a>
          <a href="#"><img src="https://img.icons8.com/ios/50/instagram-new--v1.png" alt="Insta logo" ></i></a>
          <a href="#"><img src="https://img.icons8.com/ios/50/youtube-play--v1.png" alt="Youtube logo" ></i></a>
        </div>
         
        <div class="footer-col">
          <ul>
            <li><a href="/projectHome">New Projects</a></li>
            <li><a href="/tools">Tools</a></li>
            <li><a href="#">Find Agents</a></li>
          </ul>
        </div>

        <div class="footer-col">
          <ul>
            <li><a href="#">About Us</a></li>
            <li><a href="#">Contact Us</a></li>
            <li><a href="#">Privacy Policy</a></li>
            <li><a href="#">Term of Service</a></li>
          </ul>
        </div>

        <div class="footer-col">
          <ul>
            <li><a href="#">Sitemap</a></li>
            <li><a href="#">Licenses</a></li>
            <li><a href="#">Mobile App</a></li>
            <li><a href="#">Term of Service</a></li>
          </ul>
        </div>
   
        <div class="footer-bottom">
          <p><small>&copy;NextDoorSG. All rights reserved. Images are for illustrative purposes</small></p>
          <p><small>Terms and conditions apply</small></p>
        </div>
      </div>
    </footer>

    <script>
      // Q&A js script //
      const QAItemHeaders = document.querySelectorAll(".QA-item-header");
      QAItemHeaders.forEach((QAItemHeader) => {
        QAItemHeader.addEventListener("click", (event) => {
          const currentActiveQAItemHeader = document.querySelector(
            ".QA-item-header.active"
          );
          if (
            currentActiveQAItemHeader &&
            currentActiveQAItemHeader !== QAItemHeader
          ) {
            currentActiveQAItemHeader.classList.toggle("active");
            currentActiveQAItemHeader.nextElementSibling.style.maxHeight = 0;
          }

          QAItemHeader.classList.toggle("active");
          const QAItemBody = QAItemHeader.nextElementSibling;
          if (QAItemHeader.classList.contains("active")) {
            QAItemBody.style.maxHeight = QAItemBody.scrollHeight + "px";
          } else {
            QAItemBody.style.maxHeight = 0;
          }
        });
      });
    </script>

</body>
</html>
