<!-- fpr project page -->

<!-- https://www.youtube.com/watch?v=GQejHTFwyLo -->

<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" type="text/css" href="/main.css" />
    <title>Buy/rent page</title>
</head>
<body>
    <header>
        <div>
            <!-- logo -->
            <div>
                <a href="/"><img src="" alt="logo" ></a>
            </div>

            <div>
                <a href="/">Home</a>
                <a href="/buyRentHome">Buy/rent</a>
                <a href="/sellerHome">Sell</a>
                <a href="/">New projects</a>
                <a href="/tools">Tools</a>
                <a href="/">Find agent</a>
            </div>
            
            <!-- login -->
            <div>
                <a href="/login">Login</a>
            </div>

        </div>
    </header>
    
    <!-- filter put here -->


    <div>
        <h2>Available houses</h2>
        <% if (articles.length > 0) { %>
            <!-- <table>
                <thead>
                    <tr>
                        <th>Event Title</th>
                        <th>Event Date</th>
                    </tr>
                </thead>
                <tbody>
                    <% articles.forEach(article => { %>
                        <tr>
                            <td><a href="/attEvent/<%= article.id %>"><%= article.title %></a></td>
                            <td><%= article.published_date %></td>
                        </tr>
                    <% }); %>
                </tbody>
            </table> -->

            <div>
                <% articles.forEach(article => { %>
                    <img src="<%= article.image_path %>" alt="Property Image" style="max-width: 200px;" >
                    <a href="/attEvent/<%= article.id %>"><%= article.title %></a>
                    <p><%= article.description %></p>
                    <p><%= article.published_date %></p>
                <% }); %>

                
            </div>


        <% } else { %>
            <p>No article available at the moment.</p>
        <% } %>
    </div>

    <!-- footer -->
    <footer>
        <div class=>
          <div>
            <P>Follow our offical social media accounts:</P>
            <a href="#"><i class="fa-brands fa-facebook"></i></a>
            <a href="#"><i class="fa-brands fa-twitter"></i></a>
            <a href="#"><i class="fa-brands fa-instagram"></i></a>
            <a href="#"><i class="fa-brands fa-youtube"></i></a>
           </div>
         
           <div class="footer-col">
            <ul>
                <li><a href="#">New Projects</a></li>
                <li><a href="/tools">Tools</a></li>
                <li><a href="#">Find Agents</a></li>
            </ul>
           </div>

           <div class="footer-col">
            <ul>
                <li><a href="#">About Us</a></li>
                <li><a href="#">Contact Us</a></li>
                <li><a href="#">privacy Policy</a></li>
                <li><a href="#">Term of Service</a></li>
            </ul>
           </div>

           <div class="footer-col">
            <ul>
                <li><a href="#">Sitemap</a></li>
                <li><a href="#">Linceses</a></li>
                <li><a href="#">Mobile App</a></li>
                <li><a href="#">Term of Service</a></li>
            </ul>
           </div>
   
           <div class="footer-bottom">
            <p><small>&copy;xxxx. All right reserve. Images are for illustrative purposes.Terms and conditions apply</small></p>
           </div>
   
        </div>
    </footer>

</body>
</html>
